<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fbilab.snu.hyes.snufbi_test" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".Intro"
            android:label="@string/title_activity_intro" >



        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity android:name=".TestSelection"/>

        <activity
            android:name=".RavenTestOdd"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".RavenTestEven"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:name=".PreD2Test"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TMTPracticeA"
            android:label="@string/app_name" >


        </activity>

        <activity
            android:name=".obsoleteTMTTestA"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TMTTestB"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TMTPracticeB"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TMTTestS"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".TMTPracticeS">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".TMTTestNS">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <activity
            android:name=".TMTPracticeNS">


        </activity>

        <activity
            android:name=".TMTTestA">

        </activity>



    </application>

</manifest>
